<div>
	<div class="control-header">
		
<!-- 		<hr>
		<button type="button" class="btn btn-default">操作1</button>
		<button type="button" class="btn btn-primary">操作2</button>
		<button type="button" class="btn btn-success">操作3</button>
		<button type="button" class="btn btn-info">操作4</button>
		<button type="button" class="btn btn-warning">操作5</button>
		<button type="button" class="btn btn-danger">操作6</button>
	</div> -->
	<div style="width: 100% margin-top:0">
		
	    <img src="pic/welcome3.png" alt="" style="position: absolute; top:200px; left:70px">
		<img src="pic/welcome2.jpg" alt="" style="width: 100%; margin-left:-15px; margin-right:-20px;">
	</div>
</div>
	</div>
	
