/*防止顶部打导航栏遮挡住后面的内容*/
body{
	padding-top:50px;
}

/*@media (max-width: 400px) {
	.order-table{
	display: none;
}
}*/
/*@media (max-width: 767px) {
  .order-table {
  	display:none;
}
}*/
/*控制台顶部*/
.control-header{
	margin-bottom: 5px;
}
/*查看详情按钮*/
.order-table .search{
	display: block;
	margin-bottom: 20px;
	margin-left: 15px;
}
/*进度条*/
.work-progress .panel-body .progress{
	margin-top: 8px;
}
/*左边侧栏*/
.sidebar{
	background-color: #DDDDDD;
	/*position: fixed;*/
	position: fixed;
	top:50px;
	bottom: 0;
	padding-top: 20px;	
}
.sidebar ul{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
}

.sidebar ul li.active>a,
.sidebar ul li>a:hover
{
	color:#FFF;
	background-color: #428BCA;
}
/*响应式布局*/
@media (max-width: 768px ){
	.sidebar{
		position: static;
	}
	.sidebar ul{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;
	}
}

.navbar .navbar-right > li.current-user > a img {
    float: left;
    margin-right: 5px;
    width: 39px;
    margin-top: -2px;
    border-radius: 20%;
}
.navbar .navbar-right > li.current-user > a {
    padding-top: 12px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    float: left;
    color: white;
    text-decoration: none;

}
.ti-angle-down:before {
    content: "\e64b";
}
.dropdown-menu{
	margin-top: 30px;
}
.current-user .username{
	margin-top: 8px;
	display: inline-block;
}


